
            <hr/>
            <a href="http://flask.pocoo.org/"><img
               src="http://flask.pocoo.org/static/badges/powered-by-flask-s.png"
                  border="0"
                     alt="powered by Flask"
                        title="powered by Flask"></a><br/>
            &copy; Copyright 2011 by codespeaks.in<br/><br/>
            Contact me via <a href="mailto:code@codespeaks.in" class="footer">
            Email  </a>,
            <a href="http://twitter.com/codespeaksdotin" class="footer"> 
            Twitter </a>,
             <a href="http://github.com/kracekumar" class="footer"> Github </a>
             <hr/>
