html
{
    background: url(bglines.png);
}
body
{
    text-align: center;
    position: relative;
    width :960px;
    font-family: 'Droid Sans', 'Lucida Sans';
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text: white;
}
.output
{
    background-color: white;
    height: 900px; 
    display: block;
    line-height: 1.5;
    border: 5px solid #595540;
    width: 450px; 
    padding: 9px;
    overflow: auto;
    color: black;
    float: right
}
.codes
{
    float: left; 
    width: 400px; 
    height: 900px; 
    border: 5px solid #595540;
    line-height: 1.5em;
    padding : 9px;
    overflow: auto;
    font-family: monospace, 'Droid Sans', 'Lucid Sans';
    font-size: 20px;
    color: black;
}
.py_output
{
    text-align: left;
/*    background-color: white;
    color: white; */
    background-color: #f0f0f0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    font-size: 16px;
    font-family: Bitstream Vera Sans Mono,monospace;
}
.error
{
    color: red;
    text-align: left;
    font-size: 20px;
    border: 2px solid white;
}
.py_code
{
    text-align: left;
}
pre {
    background-color: #f0f0f0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    font-size: 16px;
    font-family: Bitstream Vera Sans Mono,monospace;
    display: block;
    }
b
{
    color: #0084b4;
}
p
{
    font-size: 16px;
    font-weight: bold;
    color: #333;
}
.navbar
{
    background-color: #fff;
}
.navbar-inner
{
    background-color: #333;
}
a
{
    color: white;
}
.example
{
    text-align: left;
}
center
{
    color: #007020;
}
article.features, p.welcome_message
{
    text-align: left;
    line-height: 1.5em;
}
footer
{
    text-align: center;
    font: 18px 'Palatino';
    display: block;
    color: #888;
    background-color: white;
    line-height: 1.2em;
}
a.footer
{
    text-decoration: underline;
    color: #432165;
    font: 20px 'Palatino';
}
