<!doctype html>
<html>
    <head>
        <title> Welcome to pylive - Python live interpreter - codespeaks.in | 
        {% block title %}
        {% endblock %}
        </title>
        {% block js %}
        {% endblock %}
        {% block css %}
        {% endblock %}
    </head>
    <body>
        <nav>
            {% block menu %}
            {% endblock %}
        </nav>
        <article>
            {% block content %}
            {% endblock %}
        </article>
        <footer>
            
        </footer>
    </body>
</html>
