{% extends "base.html" %}
{% from "_formhelper.html" import render_js, render_css %}
{% block js %}
    {{ render_js(names=['jquery.min.js']) }}
    <script type="text/javascript">
    $(document).ready(function()
    { 
        $('.codes').focus();
        $('.codes').keydown(function (e) {
            if(e.which == 17)
            {
                var to_execute = $('.codes').val();
                $.getJSON(document.URL + 'execute/',{code: to_execute},
                         function(data){
                            if(data.success == 1)
                            {  
                               var output = data.output;
                               output = output.replace(new RegExp("\\n","g"), '<br/>');
                               $('article.output').append('<center><b>[Code]</b></center>');
                               $('article.output').append('<div class=py_code>'+data.code+
                               '</div>');
                               $('article.output').append('<div class="py_output">' +'<center><b>[Output]</b></center>'+
                               output + '</div>') ;
                               $('article.output').append('<hr>');
                               $('.py_output').children().last().focus();
                                }
                         });

            }
            });
    });
    </script>
{% endblock %}
{% block css %}
    {{ render_css(names=['bootstrap.css', 'stylesheet.css', 'pygments_style.css']) }}
{% endblock %}
{% block content %}
        {% include 'inc/menu.html' %}   
<br/>
<section class="live_code">
    <article class="output">
        
    </article>
    <p> Enter the python code below and hit ctrl button </p>
    <br/>
    <textarea class="codes">
    </textarea>
<section>
<section class="comments">
    {% include 'inc/disqus_js.html' %}
</section>
{% endblock %}

